.footer {
  background: #181818;
  padding: 1rem;
  margin-top: 40px;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box img {
  width: 15rem;
  margin-bottom: 1rem;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(170, 165, 165);
  padding: 1rem 0;
}

.footer .box-container .box .link {
  font-size: 1.7rem;
  line-height: 2;
  color: #fff;
  padding: 0.5rem 0;
  display: block;
  transition: 0.3s ease-in-out;
  text-transform: capitalize;
}

.footer .box-container .box .link:hover {
  color: #02ffe2;
  transition: 0.2s ease-in;
}

.footer .credit {
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: #ccc;
  border-top: 0.1rem solid #02ffe2;
  cursor: pointer;
}

.footer .credit span {
  color: #02ffe2;
}
